#header {
    color: whitesmoke;
    text-align: center;
    border-bottom:  4px solid whitesmoke;
}

#container {
    background-color: royalblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
}

#image {
    text-align: center;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
}

#browser {
    border-radius: 20%;
}

body {
    background-color: royalblue;
}

#text {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    width: 800px;
    font-size: medium;
    color: whitesmoke;
}

#footer {
    text-align: center;
    padding-bottom: 20px;
    background-color: #3b444b;
    color: white;
}
