#header {
    color: whitesmoke;
    text-align: center;
    border-bottom:  4px solid whitesmoke;
}

#container {
    background-color: royalblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
}

#image {
    text-align: center;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
}

#browser {
    border-radius: 20%;
}

body {
    background-color: royalblue;
}

#text {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    width: 800px;
    font-size: medium;
    color: whitesmoke;
}

footer {
    background: #343C44;
    color: white;
    position: fixed;
    text-align: center;
    padding-bottom: 1rem;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
}
